<div class="card-container">
	<% @available_rooms.each do |available_room| %>
	<div class = "row cards">
		<div class="hotel-img col-md-3 pad0">
			<img src="https://cf.bstatic.com/xdata/images/hotel/square200/229986201.webp?k=dedff536e335c317ecded28d8d76462e87671be25c304501fe123a714757fedf&o=" alt="Hotel"> 
		</div>
		<div class="card-content col-md-9">
			<div class="room-header"><%= available_room.name %></div>
			<div><span class="content-header">Room Type: </span> <span><%= available_room.room_type %></span></div>
			<div><span class="content-header">Room Details: </span> <span><%= available_room.description %></span></div>
			<div><span class="content-header">Max Adults: </span> <span><%= available_room.max_adults %></span></div>
			<div><span class="content-header">Max Children: </span> <span><%= available_room.max_children %></span></div>
			<div><span class="content-header">Total Price: </span> <span class="price-details"><%= available_room.price %></span></div>
			<div><span class="content-header">Available Amenities: </span> <span><%= available_room.amenities %></span></div>
			<div class="book-btn" style="margin-top: 22px;"><a href="/booked_rooms/new" class="book-now">Book Now</a></div>
		</div>
	</div>
	<% end %>
</div>
