<div class="customer-form">
  <%= form_with model: @customer, local: true do |form| %>

    <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@customer.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :phone_number %><br>
      <%= form.text_field :phone_number %>
    </p>

    <p>
      <%= form.label :profile_pic %><br>
      <%= form.text_field :profile_pic %>
    </p>

    <p>
      <%= form.label :address %><br>
      <%= form.text_area :address %>
    </p>

    <p class="login-button customer-btn">
      <%= link_to 'Back', customers_path %> <%= form.submit %>
    </p>

  <% end %>
</div>
