<h1>Listing Customers</h1>

<%= link_to 'Add Customer', new_customer_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th></th>
  </tr>
  
  <% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.address %></td>
    <td><%= link_to 'Show', customer_path(customer) %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
