<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Profile Pic:</strong>
  <%= @customer.profile_pic %>
</p>

<%= link_to 'Back', customers_path %>
