<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if current_user.present? %>
        <a href="/users/sign_out">Log Out</a>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
